.homeContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.homeHeaderContainer{
    background-color: aliceblue;
    height: 35%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.homeHeaderText{
    align-self: flex-start;
    font-family: 'Karla', sans-serif;
    font-size: 2vw;
    color: rgb(80, 101, 107);
}

.homeBodyContainer{
    background-color: aliceblue;
    height: 65%;
    width: 100%;
    /* z-index: -1; */
}
.description{
    align-self: flex-start;
    font-family: 'Karla', sans-serif;
    font-size: 2vw;
    padding: 2vw;
    padding-left: 10vw;
    padding-right: 10vw;   
    height: 70%;
}
.emailContainer {
    height: 35%;
    width: 100%;
    background-color: aliceblue;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.backgroundImage {
    /* background: url("../assets/Background.png") no-repeat scroll 0 0 transparent; */
    height: 120%;
    width: 100%;
    z-index: 3;
    /* overflow: visible; */
}
.test {
    /* align-items: center; */
    padding-right: 20px;
    background-color: red;
}

.size-image{
    min-width: 10%;
    min-height: 10%;
    max-height: 12%;
    max-width: 12%;
    border-radius: 50%;
    display: flex;
    /* margin-left: 30%; */
}

.logo {
    border-bottom: 0;
    display: flex;
    /* margin: 0 0 1em 0; */
    justify-content: center;
    overflow: hidden;
    /* position: relative; */
}

@media (max-width: 1500px) {
    .logo {
        border-bottom: 0;
        display: flex;
        /* margin: 0 0 1em 0; */
        justify-content: center;
        overflow: hidden;
        /* position: relative; */
    }
    .size-image {
        max-width: 20%;
    }
    .description {
        font-size: 3vw;
    }
}

@media (max-width: 900px) {
    .logo {
        border-bottom: 0;
        display: flex;
        /* margin: 0 0 1em 0; */
        justify-content: center;
        overflow: hidden;
        /* position: relative; */
    }
    .description {
        font-size: 4vw;
    }
    .size-image {
        max-width: 50%;
    }
    .homeHeaderText {
        font-size: 4vw;
    }
}