.html {
  background-color: #212122 !important;
}

.body {
  display: flex;
  /* background-color: #212122 !important; */
  /* height: 100% !important; */
}

.sidebar {
  padding: 10px;
  width: 10%;
  min-width: 10%;
  /* height: 500px; */
  background-color: #212122;
}

.routes {
  list-style-type: none;
  padding: 0;
}
.routes Link{
  text-decoration: none;
}
.main {
  /* z-index: -2; */
  flex: 1;
  display: flex;
  background-color: #303030;
}
.removeUnderline {
  text-decoration: none;
  color: aliceblue;
}

.fontKarla {
  font-family: 'Karla', sans-serif;
}
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .adaptiveFontSizeNormalScreen{
    /* font-size: 1.7vw; */
    font-size: 1.4vw;
  }
}
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .adaptiveFontSizeNormalScreen{
    /* font-size: 1.7vw; */
    font-size: 1.9vw;
  }
}

.adaptiveFontSizeSmallScreen{
  font-size: 1.5vw;
}

.routes li {
  padding-bottom: 1.2vw;
}